<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>A Review</title>

	<link href="/styles.css" rel="stylesheet">
</head>

<body class="content">

	<h1>A Single Tag</h1>

	<div class="b">
		<em>Below you'll find a single tag.</em>
	</div>

	<div th:each="tag: ${tags}">

		<p>Title: <span th:text="${tag.tagName}"></span></p>
		<a href="http://localhost:8080/all-tags-ajax">Back to Tags Page</a>
	</div>

	<nav>
		<a href="http://localhost:8080/show-categories">Categories</a>
		<a href="http://localhost:8080/show-reviews">Reviews</a>
	</nav>

	<div>
		<footer>
			<p>&copy; 2018 Macharia's reviews site</p>
		</footer>
	</div>
	
</body>

</html>